@font-face{
    font-family: 'fira';
    src: url('../font/FiraCode-Regular.ttf') format("truetype");
}
@font-face{
    font-family: 'sans';
    src: url('../font/NotoSansSC-Regular.ttf') format("truetype");
}

body {
  font-family: 'sans';
  font-size: 20px;
}

code, pre {
  font-family: 'fira';
  font-size: 20px;
}