@font-face{
    font-family: 'FiraCode';
    src: url('../font/FiraCode-Regular.ttf') format("truetype");
}
@font-face{
    font-family: 'NotoSansSC';
    src: url('../font/NotoSansSC-Regular.ttf') format("truetype");
}

body {
  font-family: 'NotoSansSC';
  font-size: 14px;
}

code, pre {
  font-family: 'FiraCode';
  font-size: 14px;
}